# Rider & JetBrains settings
.idea/

# Build & Output files
bin/
obj/

invmanager/obj/

# Temporary & cache files
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
*.cache
*.pdb
*.dll
*.exe
*.sourcelink.json
*.json
*.restore.info
