@{
    ViewData["Title"] = "Error";
    var code = ViewData["StatusCode"] ?? 0;
}

<div>

    <p>Something went wrong.</p>

    @if ((int)code == 404)
    {
        <text><p>The page you’re looking for could not be found.</p></text>
    }
    else if ((int)code == 500)
    {
        <text><p>Internal server error. Please try again later.</p></text>
    }
    else if ((int)code == 403)
    {
        <text><p>You don't have permission to access this resource.</p></text>
    }
  
</div>